.root {
  background-image: url("./assets/bg-cafe-lg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-color: #121315;
  height: 100vh;
  color: white;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;

  align-items: center;
}

main {
  background-color: #1c1d1f;
  margin-top: 10rem;
  padding: 3rem;
  border-radius: 15px;
  text-align: center;
  background-image: url(./assets/vector.svg);
  background-repeat: no-repeat;
  background-position: 60% 50%;
  width: 90%;
  overflow: none;
}
